{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static '/civil/css/master.css' %}">
        <title>{% block title %}Civil_Click - a civilization game{% endblock %}</title>
        <script>
            var account_name = "{{ user.username }}";
        </script>
    </head>
    <body>
        <div class="header">
            <div class="header-logo">
                <a href="/">
                    <img class="logo-image" src="{% static '/civil/images/icon.svg' %}" alt="civil">
                </a>
            </div>
            <div class="header-links">
                {% if user.is_authenticated %}
                    <div class="header-link-card">
                        <a href="/game" class="header-link">Play</a>
                        <span class="header-link-underline"></span>
                    </div>
                    <div class="header-link-card">
                        <a href="/logout" class="header-link">Logout</a>
                        <span class="header-link-underline"></span>
                    </div>
                {% else %}
                    <div class="header-link-card">
                        <a href="/login" class="header-link">Login</a>
                        <span class="header-link-underline"></span>
                    </div>
                    <div class="header-link-card">
                        <a href="/register" class="header-link">Register</a>
                        <span class="header-link-underline"></span>
                    </div>
                {% endif %}
            </div>
        </div>
        <span class="header-space"></span>
        {% block body %}
        {% endblock %}
    </body>
</html>
