@charset "UTF-8";

:root {

    --bg-light:             #ffffff;
    --primary-light:        #f0a312;
    --secondary-light:      #ffe435;
    --neutral-light:        #addf00;
    --suplimentary-light-1: #6d9ae3;
    --suplimentary-light-2: #607caa;

}
